/node_modules
/public/hot
/public/storage
/public/files_announcements
/public/files_avatars
/public/files_banks
/public/files_licenses
/public/files_logos
/public/files_messages
/public/files_pictures
/public/files_projects
/public/files_proposals
/public/files_receipts
/public/files_reports
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.lo
yarn-error.log
/.idea
/.vscode
